
<div class="state_container">
    <div class="state_header">
        <div class="state_title">
            <span>
                Статистика
            </span>
        </div>
    </div>

   <div class="state_content">
        <div class="state_content__item">
            <span class="state_content__item__title">
                Всего ботов
            </span>
            <span class="state_content__item__digital">
                {{ botService.Bots.length }}
            </span>
        </div>
   </div>
</div>
