
a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Noto Sans';
}

.head__container {
    display: flex;
    flex-direction: column;
}


.head {
    display: flex;
    justify-content: space-between;
    .head__title{
        h2 {
            text-transform: uppercase;
            margin-left: 20px;
            color: aliceblue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
    .head__burger{
        display: none;
        margin: auto 0;
        cursor: pointer;

        span {
            display: block;
            height: 2px;
            width: 40px;
            margin: 5px;
            border-top: 4px solid aliceblue;
        }
    }
}



nav {
    display: flex;
    padding: 20px 0;
    height: 100vh;
    ul {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        
        li {
            display: flex;
            flex-direction: column;
            position: relative;

            a {
                flex: 1 1 auto;
                display: flex;
                padding: 15px;
                color: #ffeeee;

                &:hover {
                    color: #ffffff;
                    background:  #00000020;
                }

                i {
                    padding: 0 5px;
                }
            }

            .head__sub__menu {
                display: flex;
                flex-direction: column;
                margin-left: 55px;
                li {
                    flex: 1 1 auto;
                    a {
                        font-family: 'Source Sans Pro';
                        padding: 10px;
                    }
                }
            }
        }
    }
}

.show, .hide {
    display: flex;
}

.arrow::before {
    content: '\2BAF';
    
    position: absolute;
    font-size: 20px;
    height: 35px;
    width: 35px;
    top: 10px;
    right: 15px;
}

@media all and (max-width: 500px) {
    
    .head {
        .head__burger {
           display: block;
        }
    }

    .hide {
        display: none;
    }

    nav {
        position: relative;
    }
}