<div  class="head__container">

    <div class="head">
        <div class="head__title">
            <h2 (click)="nav.Do('toHome')" >App</h2>
        </div>
        <div (click)="nav.IsActiveMenu = !nav.IsActiveMenu" class="head__burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <nav [className]="nav.IsActiveMenu ? 'show' : 'hide'">
        <ul>
            <li *ngFor="let item of nav.Items">
                <a (click)="nav.Do(item.Action)" [className]="item.Items?.length > 0 ? 'arrow' : ''" >
                    <i class="material-icons">{{ item.Icon }}</i>
                    {{ item.Title }}
                </a>
                <ul class="head__sub__menu">
                    <li *ngFor="let subItem of item.Items" >
                        <a (click)="nav.Do(subItem.Action)">
                            {{ subItem.Title }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
